@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300, 300i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');

body {
  font-family: "Work Sans";
  /*color: #1f1f1f;*/
    color: #405359;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville";
  letter-spacing: 2px;
  line-height: 2rem; /* increases, so wrapping headers don't overlap */ 
  color: #096B72;
  font-weight: 300;
}

d-title {
  padding-top: 13rem; /*so that navbar doesn't overlap fixed title */
}

d-title h1,
d-article h2 {
  font-weight: 300;
}

d-article div.sourceCode code, 
d-article pre code {
  font-family: "DM Mono", monospace;
  font-size: 1rem;
}
/* --------------Navbar-------------------- */
  
  
/* background-image for fade-to-white color of navbar */

.distill-site-header{ 
    padding: 40px 0px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255,255,255,0.5));
  /*  background-color: transparent;*/
    font-size: 15px;
    font-family: "Libre Baskerville";
    letter-spacing: 2px;
    text-transform: uppercase;
}
  
.distill-site-header .logo img{
  max-height: 40px; /* Makes logo bigger, default was 20px */
}


/* dropdown navbar color on mobile */
  
  @media screen and (max-width: 768px){
    .distill-site-header.responsive {
      background: rgba(255,255,255,0.99);
    }
  }

/* Navbar Links with Animated Hover */ 
  
  
.distill-site-header a { 
      color: #1f1f1f;
    /* display: inline-block; */
      position: relative; 
    text-decoration: none;
    padding-left: 0px; 
      padding-right: 0px; 
      margin: 10px 14px; 
  }


.distill-site-header a:hover {  /*(unanimated) hover behavior for navbar links */
    color: #787878;
    padding-left: 0px;   
    padding-right: 0px;  
    margin: 10px 14px;
}

.distill-site-header a:before { Creates pseudoelement line under link 
    background-color: #787878;
    content: '';
  height: 1px; 
  position: absolute;
  bottom: -1px;
  transition: width 0.3s ease-in-out;  animate the width 
    width: 100%;
}

.distill-site-header a:hover:before {
  width: 0; /* Shrinks width of pseudoelement to 0 when hovered */
}

/* Makes sure animation does NOT apply to Title or Logo links (or toggle on mobile) */
  
  .distill-site-header a.title:before, .distill-site-nav a.logo:before, a.nav-toggle:before {
    display: none;
  }

.distill-site-header a.title, .distill-site-nav a.logo {
  padding: 10px 0px;
  margin: 10px 14px;
}


/* No navbar links on mobile except title and nav-toggle */
  
  @media screen and (max-width: 768px) {
    .distill-site-header a, .distill-site-header .nav-dropdown {
      display: none;
    }
    
    .distill-site-header a.title, .distill-site-header a.nav-toggle {
      display: inline-block;
      padding: 10px 0px;
      margin: 10px 14px; 
    }
  }



/* -------------Appendix---------------- */
  
  d-appendix {
    background-color: #e6f3fc;
      border-top: none !important;
  }

/* -------------Footer------------------*/
  
  .distill-site-footer {
    color: #f7f7f7b0;
      background-color: #1f1f1f;
      margin-top: 0px;
    padding: 50px 20px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 12px;
    
  }

d-byline div.byline.grid div p,
d-byline,
d-byline p,
p.author,
p.affiliation,
d-byline h3,
.d-toc,
.d-toc-header,
.d-toc ul,
d-appendix p {
  font-size: 0.9rem;
}

d-appendix h3 + * {
  margin-top: 1.5em !important;
}


/*----- COLORED LIST BULLET----*/
  
  d-article ul {
    list-style: none; /* Remove default bullets */
  }

d-article ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #79beee; /* Change the color */
    font-weight: normal; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.5em; /* Also needed for space (tweak if needed) */
    margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

d-article ul > li > p {
  display: inline; /* to have content show up next to bullet */
    line-height: 1.6em;
}

d-article ul > li { /*to add back in space between bullet items that I took away by making p display inline */
    margin-top: 1em;
  margin-bottom: 1em;
}

.d-toc ul li::before {
  content: " ";  /* Remove toc bullets */
}

/* -----------Question counter ---------*/

  body {
    counter-reset: li;
  }

  .question ol {
    /* Remove the default left padding */
    padding-left: 0;
  }

  .question ol>li {
    /* Create a positioning context */
    position: relative;
    /* Disable the normal item numbering */
    list-style: none;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 120px;
  }

  .question ol>li:before,
  .question ol>p>li:before{
    /* Use the counter as content */
    content: "Question " counter(li) ": ";
    /* Increment the counter by 1 */
    counter-increment: li;
    position: absolute;
    color: #5ebccf;
    left: -0.5px;
    font-weight: bold;
  }

  .question ol ol {
    counter-reset: subitem;
  }

/*----Des blocks avec des icons-----*/

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px dashed #2ea8b3;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.boites {
  background-image: url("images/crayon.png");
}




